eclipse-bin/
override.properties
testdata.log
testdata.properties
testdata.script
.classpath
.project
.DS_Store
projects/
plugins/
*.class
*.war
*.ear
*.iml
target
.idea
mdr*
bin/
dist/
lib/
libext/
libswt/
stage/
test-lib/
